.common-page .sidebar-box ul.list-items,
.banner-carousel .pagination ul,
.sidebar-nav,
ul.tab-list,
.default-accordion,
#header .lang-selector,
#header .social-networks,
.navbar .main-navbar,
#footer .footer-nav,
.danishman-sayfasi .linked-list,
.showcase-block .partners-list,
.showcase-block .brands-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

/* FONT PATH
 * -------------------------- */

@font-face {
	font-family: "FontAwesome";
	src: url("../fonts/fontawesome/fontawesome-webfont.eot?v=4.7.0");
	src: url("../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */

.fa-lg {
	font-size: 1.3333333333em;
	line-height: .75em;
	vertical-align: -15%;
}

.fa-2x {
	font-size: 2em;
}

.fa-3x {
	font-size: 3em;
}

.fa-4x {
	font-size: 4em;
}

.fa-5x {
	font-size: 5em;
}

.fa-fw {
	width: 1.2857142857em;
	text-align: center;
}

.fa-ul {
	padding-left: 0;
	margin-left: 2.1428571429em;
	list-style-type: none;
}

.fa-ul > li {
	position: relative;
}

.fa-li {
	position: absolute;
	left: -2.1428571429em;
	width: 2.1428571429em;
	top: .1428571429em;
	text-align: center;
}

.fa-li.fa-lg {
	left: -1.8571428571em;
}

.fa-border {
	padding: .2em .25em .15em;
	border: solid .08em #eee;
	border-radius: .1em;
}

.fa-pull-left {
	float: left;
}

.fa-pull-right {
	float: right;
}

.fa.fa-pull-left {
	margin-right: .3em;
}

.fa.fa-pull-right {
	margin-left: .3em;
}

/* Deprecated as of 4.4.0 */

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.fa.pull-left {
	margin-right: .3em;
}

.fa.pull-right {
	margin-left: .3em;
}

.fa-spin {
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
}

.fa-pulse {
	-webkit-animation: fa-spin 1s infinite steps(8);
	animation: fa-spin 1s infinite steps(8);
}

.fa-rotate-90 {
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.fa-rotate-180 {
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.fa-rotate-270 {
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}

.fa-flip-horizontal {
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
	-webkit-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.fa-flip-vertical {
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
	-webkit-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	transform: scale(1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
	-webkit-filter: none;
	filter: none;
}

.fa-stack {
	position: relative;
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	vertical-align: middle;
}

.fa-stack-1x,
.fa-stack-2x {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
}

.fa-stack-1x {
	line-height: inherit;
}

.fa-stack-2x {
	font-size: 2em;
}

.fa-inverse {
	color: #fff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */

.fa-glass:before {
	content: "";
}

.fa-music:before {
	content: "";
}

.fa-search:before {
	content: "";
}

.fa-envelope-o:before {
	content: "";
}

.fa-heart:before {
	content: "";
}

.fa-star:before {
	content: "";
}

.fa-star-o:before {
	content: "";
}

.fa-user:before {
	content: "";
}

.fa-film:before {
	content: "";
}

.fa-th-large:before {
	content: "";
}

.fa-th:before {
	content: "";
}

.fa-th-list:before {
	content: "";
}

.fa-check:before {
	content: "";
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
	content: "";
}

.fa-search-plus:before {
	content: "";
}

.fa-search-minus:before {
	content: "";
}

.fa-power-off:before {
	content: "";
}

.fa-signal:before {
	content: "";
}

.fa-gear:before,
.fa-cog:before {
	content: "";
}

.fa-trash-o:before {
	content: "";
}

.fa-home:before {
	content: "";
}

.fa-file-o:before {
	content: "";
}

.fa-clock-o:before {
	content: "";
}

.fa-road:before {
	content: "";
}

.fa-download:before {
	content: "";
}

.fa-arrow-circle-o-down:before {
	content: "";
}

.fa-arrow-circle-o-up:before {
	content: "";
}

.fa-inbox:before {
	content: "";
}

.fa-play-circle-o:before {
	content: "";
}

.fa-rotate-right:before,
.fa-repeat:before {
	content: "";
}

.fa-refresh:before {
	content: "";
}

.fa-list-alt:before {
	content: "";
}

.fa-lock:before {
	content: "";
}

.fa-flag:before {
	content: "";
}

.fa-headphones:before {
	content: "";
}

.fa-volume-off:before {
	content: "";
}

.fa-volume-down:before {
	content: "";
}

.fa-volume-up:before {
	content: "";
}

.fa-qrcode:before {
	content: "";
}

.fa-barcode:before {
	content: "";
}

.fa-tag:before {
	content: "";
}

.fa-tags:before {
	content: "";
}

.fa-book:before {
	content: "";
}

.fa-bookmark:before {
	content: "";
}

.fa-print:before {
	content: "";
}

.fa-camera:before {
	content: "";
}

.fa-font:before {
	content: "";
}

.fa-bold:before {
	content: "";
}

.fa-italic:before {
	content: "";
}

.fa-text-height:before {
	content: "";
}

.fa-text-width:before {
	content: "";
}

.fa-align-left:before {
	content: "";
}

.fa-align-center:before {
	content: "";
}

.fa-align-right:before {
	content: "";
}

.fa-align-justify:before {
	content: "";
}

.fa-list:before {
	content: "";
}

.fa-dedent:before,
.fa-outdent:before {
	content: "";
}

.fa-indent:before {
	content: "";
}

.fa-video-camera:before {
	content: "";
}

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
	content: "";
}

.fa-pencil:before {
	content: "";
}

.fa-map-marker:before {
	content: "";
}

.fa-adjust:before {
	content: "";
}

.fa-tint:before {
	content: "";
}

.fa-edit:before,
.fa-pencil-square-o:before {
	content: "";
}

.fa-share-square-o:before {
	content: "";
}

.fa-check-square-o:before {
	content: "";
}

.fa-arrows:before {
	content: "";
}

.fa-step-backward:before {
	content: "";
}

.fa-fast-backward:before {
	content: "";
}

.fa-backward:before {
	content: "";
}

.fa-play:before {
	content: "";
}

.fa-pause:before {
	content: "";
}

.fa-stop:before {
	content: "";
}

.fa-forward:before {
	content: "";
}

.fa-fast-forward:before {
	content: "";
}

.fa-step-forward:before {
	content: "";
}

.fa-eject:before {
	content: "";
}

.fa-chevron-left:before {
	content: "";
}

.fa-chevron-right:before {
	content: "";
}

.fa-plus-circle:before {
	content: "";
}

.fa-minus-circle:before {
	content: "";
}

.fa-times-circle:before {
	content: "";
}

.fa-check-circle:before {
	content: "";
}

.fa-question-circle:before {
	content: "";
}

.fa-info-circle:before {
	content: "";
}

.fa-crosshairs:before {
	content: "";
}

.fa-times-circle-o:before {
	content: "";
}

.fa-check-circle-o:before {
	content: "";
}

.fa-ban:before {
	content: "";
}

.fa-arrow-left:before {
	content: "";
}

.fa-arrow-right:before {
	content: "";
}

.fa-arrow-up:before {
	content: "";
}

.fa-arrow-down:before {
	content: "";
}

.fa-mail-forward:before,
.fa-share:before {
	content: "";
}

.fa-expand:before {
	content: "";
}

.fa-compress:before {
	content: "";
}

.fa-plus:before {
	content: "";
}

.fa-minus:before {
	content: "";
}

.fa-asterisk:before {
	content: "";
}

.fa-exclamation-circle:before {
	content: "";
}

.fa-gift:before {
	content: "";
}

.fa-leaf:before {
	content: "";
}

.fa-fire:before {
	content: "";
}

.fa-eye:before {
	content: "";
}

.fa-eye-slash:before {
	content: "";
}

.fa-warning:before,
.fa-exclamation-triangle:before {
	content: "";
}

.fa-plane:before {
	content: "";
}

.fa-calendar:before {
	content: "";
}

.fa-random:before {
	content: "";
}

.fa-comment:before {
	content: "";
}

.fa-magnet:before {
	content: "";
}

.fa-chevron-up:before {
	content: "";
}

.fa-chevron-down:before {
	content: "";
}

.fa-retweet:before {
	content: "";
}

.fa-shopping-cart:before {
	content: "";
}

.fa-folder:before {
	content: "";
}

.fa-folder-open:before {
	content: "";
}

.fa-arrows-v:before {
	content: "";
}

.fa-arrows-h:before {
	content: "";
}

.fa-bar-chart-o:before,
.fa-bar-chart:before {
	content: "";
}

.fa-twitter-square:before {
	content: "";
}

.fa-facebook-square:before {
	content: "";
}

.fa-camera-retro:before {
	content: "";
}

.fa-key:before {
	content: "";
}

.fa-gears:before,
.fa-cogs:before {
	content: "";
}

.fa-comments:before {
	content: "";
}

.fa-thumbs-o-up:before {
	content: "";
}

.fa-thumbs-o-down:before {
	content: "";
}

.fa-star-half:before {
	content: "";
}

.fa-heart-o:before {
	content: "";
}

.fa-sign-out:before {
	content: "";
}

.fa-linkedin-square:before {
	content: "";
}

.fa-thumb-tack:before {
	content: "";
}

.fa-external-link:before {
	content: "";
}

.fa-sign-in:before {
	content: "";
}

.fa-trophy:before {
	content: "";
}

.fa-github-square:before {
	content: "";
}

.fa-upload:before {
	content: "";
}

.fa-lemon-o:before {
	content: "";
}

.fa-phone:before {
	content: "";
}

.fa-square-o:before {
	content: "";
}

.fa-bookmark-o:before {
	content: "";
}

.fa-phone-square:before {
	content: "";
}

.fa-twitter:before {
	content: "";
}

.fa-facebook-f:before,
.fa-facebook:before {
	content: "";
}

.fa-github:before {
	content: "";
}

.fa-unlock:before {
	content: "";
}

.fa-credit-card:before {
	content: "";
}

.fa-feed:before,
.fa-rss:before {
	content: "";
}

.fa-hdd-o:before {
	content: "";
}

.fa-bullhorn:before {
	content: "";
}

.fa-bell:before {
	content: "";
}

.fa-certificate:before {
	content: "";
}

.fa-hand-o-right:before {
	content: "";
}

.fa-hand-o-left:before {
	content: "";
}

.fa-hand-o-up:before {
	content: "";
}

.fa-hand-o-down:before {
	content: "";
}

.fa-arrow-circle-left:before {
	content: "";
}

.fa-arrow-circle-right:before {
	content: "";
}

.fa-arrow-circle-up:before {
	content: "";
}

.fa-arrow-circle-down:before {
	content: "";
}

.fa-globe:before {
	content: "";
}

.fa-wrench:before {
	content: "";
}

.fa-tasks:before {
	content: "";
}

.fa-filter:before {
	content: "";
}

.fa-briefcase:before {
	content: "";
}

.fa-arrows-alt:before {
	content: "";
}

.fa-group:before,
.fa-users:before {
	content: "";
}

.fa-chain:before,
.fa-link:before {
	content: "";
}

.fa-cloud:before {
	content: "";
}

.fa-flask:before {
	content: "";
}

.fa-cut:before,
.fa-scissors:before {
	content: "";
}

.fa-copy:before,
.fa-files-o:before {
	content: "";
}

.fa-paperclip:before {
	content: "";
}

.fa-save:before,
.fa-floppy-o:before {
	content: "";
}

.fa-square:before {
	content: "";
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
	content: "";
}

.fa-list-ul:before {
	content: "";
}

.fa-list-ol:before {
	content: "";
}

.fa-strikethrough:before {
	content: "";
}

.fa-underline:before {
	content: "";
}

.fa-table:before {
	content: "";
}

.fa-magic:before {
	content: "";
}

.fa-truck:before {
	content: "";
}

.fa-pinterest:before {
	content: "";
}

.fa-pinterest-square:before {
	content: "";
}

.fa-google-plus-square:before {
	content: "";
}

.fa-google-plus:before {
	content: "";
}

.fa-money:before {
	content: "";
}

.fa-caret-down:before {
	content: "";
}

.fa-caret-up:before {
	content: "";
}

.fa-caret-left:before {
	content: "";
}

.fa-caret-right:before {
	content: "";
}

.fa-columns:before {
	content: "";
}

.fa-unsorted:before,
.fa-sort:before {
	content: "";
}

.fa-sort-down:before,
.fa-sort-desc:before {
	content: "";
}

.fa-sort-up:before,
.fa-sort-asc:before {
	content: "";
}

.fa-envelope:before {
	content: "";
}

.fa-linkedin:before {
	content: "";
}

.fa-rotate-left:before,
.fa-undo:before {
	content: "";
}

.fa-legal:before,
.fa-gavel:before {
	content: "";
}

.fa-dashboard:before,
.fa-tachometer:before {
	content: "";
}

.fa-comment-o:before {
	content: "";
}

.fa-comments-o:before {
	content: "";
}

.fa-flash:before,
.fa-bolt:before {
	content: "";
}

.fa-sitemap:before {
	content: "";
}

.fa-umbrella:before {
	content: "";
}

.fa-paste:before,
.fa-clipboard:before {
	content: "";
}

.fa-lightbulb-o:before {
	content: "";
}

.fa-exchange:before {
	content: "";
}

.fa-cloud-download:before {
	content: "";
}

.fa-cloud-upload:before {
	content: "";
}

.fa-user-md:before {
	content: "";
}

.fa-stethoscope:before {
	content: "";
}

.fa-suitcase:before {
	content: "";
}

.fa-bell-o:before {
	content: "";
}

.fa-coffee:before {
	content: "";
}

.fa-cutlery:before {
	content: "";
}

.fa-file-text-o:before {
	content: "";
}

.fa-building-o:before {
	content: "";
}

.fa-hospital-o:before {
	content: "";
}

.fa-ambulance:before {
	content: "";
}

.fa-medkit:before {
	content: "";
}

.fa-fighter-jet:before {
	content: "";
}

.fa-beer:before {
	content: "";
}

.fa-h-square:before {
	content: "";
}

.fa-plus-square:before {
	content: "";
}

.fa-angle-double-left:before {
	content: "";
}

.fa-angle-double-right:before {
	content: "";
}

.fa-angle-double-up:before {
	content: "";
}

.fa-angle-double-down:before {
	content: "";
}

.fa-angle-left:before {
	content: "";
}

.fa-angle-right:before {
	content: "";
}

.fa-angle-up:before {
	content: "";
}

.fa-angle-down:before {
	content: "";
}

.fa-desktop:before {
	content: "";
}

.fa-laptop:before {
	content: "";
}

.fa-tablet:before {
	content: "";
}

.fa-mobile-phone:before,
.fa-mobile:before {
	content: "";
}

.fa-circle-o:before {
	content: "";
}

.fa-quote-left:before {
	content: "";
}

.fa-quote-right:before {
	content: "";
}

.fa-spinner:before {
	content: "";
}

.fa-circle:before {
	content: "";
}

.fa-mail-reply:before,
.fa-reply:before {
	content: "";
}

.fa-github-alt:before {
	content: "";
}

.fa-folder-o:before {
	content: "";
}

.fa-folder-open-o:before {
	content: "";
}

.fa-smile-o:before {
	content: "";
}

.fa-frown-o:before {
	content: "";
}

.fa-meh-o:before {
	content: "";
}

.fa-gamepad:before {
	content: "";
}

.fa-keyboard-o:before {
	content: "";
}

.fa-flag-o:before {
	content: "";
}

.fa-flag-checkered:before {
	content: "";
}

.fa-terminal:before {
	content: "";
}

.fa-code:before {
	content: "";
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
	content: "";
}

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
	content: "";
}

.fa-location-arrow:before {
	content: "";
}

.fa-crop:before {
	content: "";
}

.fa-code-fork:before {
	content: "";
}

.fa-unlink:before,
.fa-chain-broken:before {
	content: "";
}

.fa-question:before {
	content: "";
}

.fa-info:before {
	content: "";
}

.fa-exclamation:before {
	content: "";
}

.fa-superscript:before {
	content: "";
}

.fa-subscript:before {
	content: "";
}

.fa-eraser:before {
	content: "";
}

.fa-puzzle-piece:before {
	content: "";
}

.fa-microphone:before {
	content: "";
}

.fa-microphone-slash:before {
	content: "";
}

.fa-shield:before {
	content: "";
}

.fa-calendar-o:before {
	content: "";
}

.fa-fire-extinguisher:before {
	content: "";
}

.fa-rocket:before {
	content: "";
}

.fa-maxcdn:before {
	content: "";
}

.fa-chevron-circle-left:before {
	content: "";
}

.fa-chevron-circle-right:before {
	content: "";
}

.fa-chevron-circle-up:before {
	content: "";
}

.fa-chevron-circle-down:before {
	content: "";
}

.fa-html5:before {
	content: "";
}

.fa-css3:before {
	content: "";
}

.fa-anchor:before {
	content: "";
}

.fa-unlock-alt:before {
	content: "";
}

.fa-bullseye:before {
	content: "";
}

.fa-ellipsis-h:before {
	content: "";
}

.fa-ellipsis-v:before {
	content: "";
}

.fa-rss-square:before {
	content: "";
}

.fa-play-circle:before {
	content: "";
}

.fa-ticket:before {
	content: "";
}

.fa-minus-square:before {
	content: "";
}

.fa-minus-square-o:before {
	content: "";
}

.fa-level-up:before {
	content: "";
}

.fa-level-down:before {
	content: "";
}

.fa-check-square:before {
	content: "";
}

.fa-pencil-square:before {
	content: "";
}

.fa-external-link-square:before {
	content: "";
}

.fa-share-square:before {
	content: "";
}

.fa-compass:before {
	content: "";
}

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
	content: "";
}

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
	content: "";
}

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
	content: "";
}

.fa-euro:before,
.fa-eur:before {
	content: "";
}

.fa-gbp:before {
	content: "";
}

.fa-dollar:before,
.fa-usd:before {
	content: "";
}

.fa-rupee:before,
.fa-inr:before {
	content: "";
}

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
	content: "";
}

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
	content: "";
}

.fa-won:before,
.fa-krw:before {
	content: "";
}

.fa-bitcoin:before,
.fa-btc:before {
	content: "";
}

.fa-file:before {
	content: "";
}

.fa-file-text:before {
	content: "";
}

.fa-sort-alpha-asc:before {
	content: "";
}

.fa-sort-alpha-desc:before {
	content: "";
}

.fa-sort-amount-asc:before {
	content: "";
}

.fa-sort-amount-desc:before {
	content: "";
}

.fa-sort-numeric-asc:before {
	content: "";
}

.fa-sort-numeric-desc:before {
	content: "";
}

.fa-thumbs-up:before {
	content: "";
}

.fa-thumbs-down:before {
	content: "";
}

.fa-youtube-square:before {
	content: "";
}

.fa-youtube:before {
	content: "";
}

.fa-xing:before {
	content: "";
}

.fa-xing-square:before {
	content: "";
}

.fa-youtube-play:before {
	content: "";
}

.fa-dropbox:before {
	content: "";
}

.fa-stack-overflow:before {
	content: "";
}

.fa-instagram:before {
	content: "";
}

.fa-flickr:before {
	content: "";
}

.fa-adn:before {
	content: "";
}

.fa-bitbucket:before {
	content: "";
}

.fa-bitbucket-square:before {
	content: "";
}

.fa-tumblr:before {
	content: "";
}

.fa-tumblr-square:before {
	content: "";
}

.fa-long-arrow-down:before {
	content: "";
}

.fa-long-arrow-up:before {
	content: "";
}

.fa-long-arrow-left:before {
	content: "";
}

.fa-long-arrow-right:before {
	content: "";
}

.fa-apple:before {
	content: "";
}

.fa-windows:before {
	content: "";
}

.fa-android:before {
	content: "";
}

.fa-linux:before {
	content: "";
}

.fa-dribbble:before {
	content: "";
}

.fa-skype:before {
	content: "";
}

.fa-foursquare:before {
	content: "";
}

.fa-trello:before {
	content: "";
}

.fa-female:before {
	content: "";
}

.fa-male:before {
	content: "";
}

.fa-gittip:before,
.fa-gratipay:before {
	content: "";
}

.fa-sun-o:before {
	content: "";
}

.fa-moon-o:before {
	content: "";
}

.fa-archive:before {
	content: "";
}

.fa-bug:before {
	content: "";
}

.fa-vk:before {
	content: "";
}

.fa-weibo:before {
	content: "";
}

.fa-renren:before {
	content: "";
}

.fa-pagelines:before {
	content: "";
}

.fa-stack-exchange:before {
	content: "";
}

.fa-arrow-circle-o-right:before {
	content: "";
}

.fa-arrow-circle-o-left:before {
	content: "";
}

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
	content: "";
}

.fa-dot-circle-o:before {
	content: "";
}

.fa-wheelchair:before {
	content: "";
}

.fa-vimeo-square:before {
	content: "";
}

.fa-turkish-lira:before,
.fa-try:before {
	content: "";
}

.fa-plus-square-o:before {
	content: "";
}

.fa-space-shuttle:before {
	content: "";
}

.fa-slack:before {
	content: "";
}

.fa-envelope-square:before {
	content: "";
}

.fa-wordpress:before {
	content: "";
}

.fa-openid:before {
	content: "";
}

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
	content: "";
}

.fa-mortar-board:before,
.fa-graduation-cap:before {
	content: "";
}

.fa-yahoo:before {
	content: "";
}

.fa-google:before {
	content: "";
}

.fa-reddit:before {
	content: "";
}

.fa-reddit-square:before {
	content: "";
}

.fa-stumbleupon-circle:before {
	content: "";
}

.fa-stumbleupon:before {
	content: "";
}

.fa-delicious:before {
	content: "";
}

.fa-digg:before {
	content: "";
}

.fa-pied-piper-pp:before {
	content: "";
}

.fa-pied-piper-alt:before {
	content: "";
}

.fa-drupal:before {
	content: "";
}

.fa-joomla:before {
	content: "";
}

.fa-language:before {
	content: "";
}

.fa-fax:before {
	content: "";
}

.fa-building:before {
	content: "";
}

.fa-child:before {
	content: "";
}

.fa-paw:before {
	content: "";
}

.fa-spoon:before {
	content: "";
}

.fa-cube:before {
	content: "";
}

.fa-cubes:before {
	content: "";
}

.fa-behance:before {
	content: "";
}

.fa-behance-square:before {
	content: "";
}

.fa-steam:before {
	content: "";
}

.fa-steam-square:before {
	content: "";
}

.fa-recycle:before {
	content: "";
}

.fa-automobile:before,
.fa-car:before {
	content: "";
}

.fa-cab:before,
.fa-taxi:before {
	content: "";
}

.fa-tree:before {
	content: "";
}

.fa-spotify:before {
	content: "";
}

.fa-deviantart:before {
	content: "";
}

.fa-soundcloud:before {
	content: "";
}

.fa-database:before {
	content: "";
}

.fa-file-pdf-o:before {
	content: "";
}

.fa-file-word-o:before {
	content: "";
}

.fa-file-excel-o:before {
	content: "";
}

.fa-file-powerpoint-o:before {
	content: "";
}

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
	content: "";
}

.fa-file-zip-o:before,
.fa-file-archive-o:before {
	content: "";
}

.fa-file-sound-o:before,
.fa-file-audio-o:before {
	content: "";
}

.fa-file-movie-o:before,
.fa-file-video-o:before {
	content: "";
}

.fa-file-code-o:before {
	content: "";
}

.fa-vine:before {
	content: "";
}

.fa-codepen:before {
	content: "";
}

.fa-jsfiddle:before {
	content: "";
}

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
	content: "";
}

.fa-circle-o-notch:before {
	content: "";
}

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
	content: "";
}

.fa-ge:before,
.fa-empire:before {
	content: "";
}

.fa-git-square:before {
	content: "";
}

.fa-git:before {
	content: "";
}

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
	content: "";
}

.fa-tencent-weibo:before {
	content: "";
}

.fa-qq:before {
	content: "";
}

.fa-wechat:before,
.fa-weixin:before {
	content: "";
}

.fa-send:before,
.fa-paper-plane:before {
	content: "";
}

.fa-send-o:before,
.fa-paper-plane-o:before {
	content: "";
}

.fa-history:before {
	content: "";
}

.fa-circle-thin:before {
	content: "";
}

.fa-header:before {
	content: "";
}

.fa-paragraph:before {
	content: "";
}

.fa-sliders:before {
	content: "";
}

.fa-share-alt:before {
	content: "";
}

.fa-share-alt-square:before {
	content: "";
}

.fa-bomb:before {
	content: "";
}

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
	content: "";
}

.fa-tty:before {
	content: "";
}

.fa-binoculars:before {
	content: "";
}

.fa-plug:before {
	content: "";
}

.fa-slideshare:before {
	content: "";
}

.fa-twitch:before {
	content: "";
}

.fa-yelp:before {
	content: "";
}

.fa-newspaper-o:before {
	content: "";
}

.fa-wifi:before {
	content: "";
}

.fa-calculator:before {
	content: "";
}

.fa-paypal:before {
	content: "";
}

.fa-google-wallet:before {
	content: "";
}

.fa-cc-visa:before {
	content: "";
}

.fa-cc-mastercard:before {
	content: "";
}

.fa-cc-discover:before {
	content: "";
}

.fa-cc-amex:before {
	content: "";
}

.fa-cc-paypal:before {
	content: "";
}

.fa-cc-stripe:before {
	content: "";
}

.fa-bell-slash:before {
	content: "";
}

.fa-bell-slash-o:before {
	content: "";
}

.fa-trash:before {
	content: "";
}

.fa-copyright:before {
	content: "";
}

.fa-at:before {
	content: "";
}

.fa-eyedropper:before {
	content: "";
}

.fa-paint-brush:before {
	content: "";
}

.fa-birthday-cake:before {
	content: "";
}

.fa-area-chart:before {
	content: "";
}

.fa-pie-chart:before {
	content: "";
}

.fa-line-chart:before {
	content: "";
}

.fa-lastfm:before {
	content: "";
}

.fa-lastfm-square:before {
	content: "";
}

.fa-toggle-off:before {
	content: "";
}

.fa-toggle-on:before {
	content: "";
}

.fa-bicycle:before {
	content: "";
}

.fa-bus:before {
	content: "";
}

.fa-ioxhost:before {
	content: "";
}

.fa-angellist:before {
	content: "";
}

.fa-cc:before {
	content: "";
}

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
	content: "";
}

.fa-meanpath:before {
	content: "";
}

.fa-buysellads:before {
	content: "";
}

.fa-connectdevelop:before {
	content: "";
}

.fa-dashcube:before {
	content: "";
}

.fa-forumbee:before {
	content: "";
}

.fa-leanpub:before {
	content: "";
}

.fa-sellsy:before {
	content: "";
}

.fa-shirtsinbulk:before {
	content: "";
}

.fa-simplybuilt:before {
	content: "";
}

.fa-skyatlas:before {
	content: "";
}

.fa-cart-plus:before {
	content: "";
}

.fa-cart-arrow-down:before {
	content: "";
}

.fa-diamond:before {
	content: "";
}

.fa-ship:before {
	content: "";
}

.fa-user-secret:before {
	content: "";
}

.fa-motorcycle:before {
	content: "";
}

.fa-street-view:before {
	content: "";
}

.fa-heartbeat:before {
	content: "";
}

.fa-venus:before {
	content: "";
}

.fa-mars:before {
	content: "";
}

.fa-mercury:before {
	content: "";
}

.fa-intersex:before,
.fa-transgender:before {
	content: "";
}

.fa-transgender-alt:before {
	content: "";
}

.fa-venus-double:before {
	content: "";
}

.fa-mars-double:before {
	content: "";
}

.fa-venus-mars:before {
	content: "";
}

.fa-mars-stroke:before {
	content: "";
}

.fa-mars-stroke-v:before {
	content: "";
}

.fa-mars-stroke-h:before {
	content: "";
}

.fa-neuter:before {
	content: "";
}

.fa-genderless:before {
	content: "";
}

.fa-facebook-official:before {
	content: "";
}

.fa-pinterest-p:before {
	content: "";
}

.fa-whatsapp:before {
	content: "";
}

.fa-server:before {
	content: "";
}

.fa-user-plus:before {
	content: "";
}

.fa-user-times:before {
	content: "";
}

.fa-hotel:before,
.fa-bed:before {
	content: "";
}

.fa-viacoin:before {
	content: "";
}

.fa-train:before {
	content: "";
}

.fa-subway:before {
	content: "";
}

.fa-medium:before {
	content: "";
}

.fa-yc:before,
.fa-y-combinator:before {
	content: "";
}

.fa-optin-monster:before {
	content: "";
}

.fa-opencart:before {
	content: "";
}

.fa-expeditedssl:before {
	content: "";
}

.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
	content: "";
}

.fa-battery-3:before,
.fa-battery-three-quarters:before {
	content: "";
}

.fa-battery-2:before,
.fa-battery-half:before {
	content: "";
}

.fa-battery-1:before,
.fa-battery-quarter:before {
	content: "";
}

.fa-battery-0:before,
.fa-battery-empty:before {
	content: "";
}

.fa-mouse-pointer:before {
	content: "";
}

.fa-i-cursor:before {
	content: "";
}

.fa-object-group:before {
	content: "";
}

.fa-object-ungroup:before {
	content: "";
}

.fa-sticky-note:before {
	content: "";
}

.fa-sticky-note-o:before {
	content: "";
}

.fa-cc-jcb:before {
	content: "";
}

.fa-cc-diners-club:before {
	content: "";
}

.fa-clone:before {
	content: "";
}

.fa-balance-scale:before {
	content: "";
}

.fa-hourglass-o:before {
	content: "";
}

.fa-hourglass-1:before,
.fa-hourglass-start:before {
	content: "";
}

.fa-hourglass-2:before,
.fa-hourglass-half:before {
	content: "";
}

.fa-hourglass-3:before,
.fa-hourglass-end:before {
	content: "";
}

.fa-hourglass:before {
	content: "";
}

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
	content: "";
}

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
	content: "";
}

.fa-hand-scissors-o:before {
	content: "";
}

.fa-hand-lizard-o:before {
	content: "";
}

.fa-hand-spock-o:before {
	content: "";
}

.fa-hand-pointer-o:before {
	content: "";
}

.fa-hand-peace-o:before {
	content: "";
}

.fa-trademark:before {
	content: "";
}

.fa-registered:before {
	content: "";
}

.fa-creative-commons:before {
	content: "";
}

.fa-gg:before {
	content: "";
}

.fa-gg-circle:before {
	content: "";
}

.fa-tripadvisor:before {
	content: "";
}

.fa-odnoklassniki:before {
	content: "";
}

.fa-odnoklassniki-square:before {
	content: "";
}

.fa-get-pocket:before {
	content: "";
}

.fa-wikipedia-w:before {
	content: "";
}

.fa-safari:before {
	content: "";
}

.fa-chrome:before {
	content: "";
}

.fa-firefox:before {
	content: "";
}

.fa-opera:before {
	content: "";
}

.fa-internet-explorer:before {
	content: "";
}

.fa-tv:before,
.fa-television:before {
	content: "";
}

.fa-contao:before {
	content: "";
}

.fa-500px:before {
	content: "";
}

.fa-amazon:before {
	content: "";
}

.fa-calendar-plus-o:before {
	content: "";
}

.fa-calendar-minus-o:before {
	content: "";
}

.fa-calendar-times-o:before {
	content: "";
}

.fa-calendar-check-o:before {
	content: "";
}

.fa-industry:before {
	content: "";
}

.fa-map-pin:before {
	content: "";
}

.fa-map-signs:before {
	content: "";
}

.fa-map-o:before {
	content: "";
}

.fa-map:before {
	content: "";
}

.fa-commenting:before {
	content: "";
}

.fa-commenting-o:before {
	content: "";
}

.fa-houzz:before {
	content: "";
}

.fa-vimeo:before {
	content: "";
}

.fa-black-tie:before {
	content: "";
}

.fa-fonticons:before {
	content: "";
}

.fa-reddit-alien:before {
	content: "";
}

.fa-edge:before {
	content: "";
}

.fa-credit-card-alt:before {
	content: "";
}

.fa-codiepie:before {
	content: "";
}

.fa-modx:before {
	content: "";
}

.fa-fort-awesome:before {
	content: "";
}

.fa-usb:before {
	content: "";
}

.fa-product-hunt:before {
	content: "";
}

.fa-mixcloud:before {
	content: "";
}

.fa-scribd:before {
	content: "";
}

.fa-pause-circle:before {
	content: "";
}

.fa-pause-circle-o:before {
	content: "";
}

.fa-stop-circle:before {
	content: "";
}

.fa-stop-circle-o:before {
	content: "";
}

.fa-shopping-bag:before {
	content: "";
}

.fa-shopping-basket:before {
	content: "";
}

.fa-hashtag:before {
	content: "";
}

.fa-bluetooth:before {
	content: "";
}

.fa-bluetooth-b:before {
	content: "";
}

.fa-percent:before {
	content: "";
}

.fa-gitlab:before {
	content: "";
}

.fa-wpbeginner:before {
	content: "";
}

.fa-wpforms:before {
	content: "";
}

.fa-envira:before {
	content: "";
}

.fa-universal-access:before {
	content: "";
}

.fa-wheelchair-alt:before {
	content: "";
}

.fa-question-circle-o:before {
	content: "";
}

.fa-blind:before {
	content: "";
}

.fa-audio-description:before {
	content: "";
}

.fa-volume-control-phone:before {
	content: "";
}

.fa-braille:before {
	content: "";
}

.fa-assistive-listening-systems:before {
	content: "";
}

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
	content: "";
}

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
	content: "";
}

.fa-glide:before {
	content: "";
}

.fa-glide-g:before {
	content: "";
}

.fa-signing:before,
.fa-sign-language:before {
	content: "";
}

.fa-low-vision:before {
	content: "";
}

.fa-viadeo:before {
	content: "";
}

.fa-viadeo-square:before {
	content: "";
}

.fa-snapchat:before {
	content: "";
}

.fa-snapchat-ghost:before {
	content: "";
}

.fa-snapchat-square:before {
	content: "";
}

.fa-pied-piper:before {
	content: "";
}

.fa-first-order:before {
	content: "";
}

.fa-yoast:before {
	content: "";
}

.fa-themeisle:before {
	content: "";
}

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
	content: "";
}

.fa-fa:before,
.fa-font-awesome:before {
	content: "";
}

.fa-handshake-o:before {
	content: "";
}

.fa-envelope-open:before {
	content: "";
}

.fa-envelope-open-o:before {
	content: "";
}

.fa-linode:before {
	content: "";
}

.fa-address-book:before {
	content: "";
}

.fa-address-book-o:before {
	content: "";
}

.fa-vcard:before,
.fa-address-card:before {
	content: "";
}

.fa-vcard-o:before,
.fa-address-card-o:before {
	content: "";
}

.fa-user-circle:before {
	content: "";
}

.fa-user-circle-o:before {
	content: "";
}

.fa-user-o:before {
	content: "";
}

.fa-id-badge:before {
	content: "";
}

.fa-drivers-license:before,
.fa-id-card:before {
	content: "";
}

.fa-drivers-license-o:before,
.fa-id-card-o:before {
	content: "";
}

.fa-quora:before {
	content: "";
}

.fa-free-code-camp:before {
	content: "";
}

.fa-telegram:before {
	content: "";
}

.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
	content: "";
}

.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
	content: "";
}

.fa-thermometer-2:before,
.fa-thermometer-half:before {
	content: "";
}

.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
	content: "";
}

.fa-thermometer-0:before,
.fa-thermometer-empty:before {
	content: "";
}

.fa-shower:before {
	content: "";
}

.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
	content: "";
}

.fa-podcast:before {
	content: "";
}

.fa-window-maximize:before {
	content: "";
}

.fa-window-minimize:before {
	content: "";
}

.fa-window-restore:before {
	content: "";
}

.fa-times-rectangle:before,
.fa-window-close:before {
	content: "";
}

.fa-times-rectangle-o:before,
.fa-window-close-o:before {
	content: "";
}

.fa-bandcamp:before {
	content: "";
}

.fa-grav:before {
	content: "";
}

.fa-etsy:before {
	content: "";
}

.fa-imdb:before {
	content: "";
}

.fa-ravelry:before {
	content: "";
}

.fa-eercast:before {
	content: "";
}

.fa-microchip:before {
	content: "";
}

.fa-snowflake-o:before {
	content: "";
}

.fa-superpowers:before {
	content: "";
}

.fa-wpexplorer:before {
	content: "";
}

.fa-meetup:before {
	content: "";
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto;
}

@font-face {
	font-family: "Myriad Pro";
	src: url("../fonts/fontface/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/fontface/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg"), url("../fonts/fontface/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/fontface/MyriadPro-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Geogrotesque";
	src: url("../fonts/fontface/Geogrotesque-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/fontface/Geogrotesque-BoldItalic.svg#Geogrotesque-BoldItalic") format("svg"), url("../fonts/fontface/Geogrotesque-BoldItalic.otf") format("opentype"), url("../fonts/fontface/Geogrotesque-BoldItalic.woff") format("woff"), url("../fonts/fontface/Geogrotesque-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "Geogrotesque";
	src: url("../fonts/fontface/Geogrotesque-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/fontface/Geogrotesque-Light.svg#Geogrotesque-Light") format("svg"), url("../fonts/fontface/Geogrotesque-Light.otf") format("opentype"), url("../fonts/fontface/Geogrotesque-Light.woff") format("woff"), url("../fonts/fontface/Geogrotesque-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Geogrotesque";
	src: url("../fonts/fontface/Geogrotesque-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/fontface/Geogrotesque-LightItalic.svg#Geogrotesque-LightItalic") format("svg"), url("../fonts/fontface/Geogrotesque-LightItalic.otf") format("opentype"), url("../fonts/fontface/Geogrotesque-LightItalic.woff") format("woff"), url("../fonts/fontface/Geogrotesque-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Geogrotesque";
	src: url("../fonts/fontface/Geogrotesque-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/fontface/Geogrotesque-MediumItalic.svg#Geogrotesque-MediumItalic") format("svg"), url("../fonts/fontface/Geogrotesque-MediumItalic.otf") format("opentype"), url("../fonts/fontface/Geogrotesque-MediumItalic.woff") format("woff"), url("../fonts/fontface/Geogrotesque-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Geogrotesque";
	src: url("../fonts/fontface/Geogrotesque-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/fontface/Geogrotesque-RegularItalic.svg#Geogrotesque-RegularItalic") format("svg"), url("../fonts/fontface/Geogrotesque-RegularItalic.otf") format("opentype"), url("../fonts/fontface/Geogrotesque-RegularItalic.woff") format("woff"), url("../fonts/fontface/Geogrotesque-RegularItalic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Geogrotesque";
	src: url("../fonts/fontface/Geogrotesque-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/fontface/Geogrotesque-SemiBoldItalic.svg#Geogrotesque-SemiBoldItalic") format("svg"), url("../fonts/fontface/Geogrotesque-SemiBoldItalic.otf") format("opentype"), url("../fonts/fontface/Geogrotesque-SemiBoldItalic.woff") format("woff"), url("../fonts/fontface/Geogrotesque-SemiBoldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "Geogrotesque";
	src: url("../fonts/fontface/Geogrotesque-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/fontface/Geogrotesque-ThinItalic.svg#Geogrotesque-ThinItalic") format("svg"), url("../fonts/fontface/Geogrotesque-ThinItalic.otf") format("opentype"), url("../fonts/fontface/Geogrotesque-ThinItalic.woff") format("woff"), url("../fonts/fontface/Geogrotesque-ThinItalic.ttf") format("truetype");
	font-weight: 100;
	font-style: italic;
}

.jcf-select {
	display: block;
	width: 100%;
	position: relative;
	border: 1px solid #000;
	background: #fff;
	color: #231f20;
	height: 28px;
	font: 14px/1.2 Geogrotesque, Arial, Helvetica, sans-serif;
	border-radius: 0;
	-webkit-transform: skew(-18deg);
	-ms-transform: skew(-18deg);
	transform: skew(-18deg);
	text-align: left;
}

.jcf-select.jcf-select-large {
	border-color: #726658;
	height: 35px;
}

.jcf-select.jcf-select-large .jcf-select-text {
	font-size: 16px;
	line-height: 33px;
	margin: 0 60px 0 15px;
	font-style: italic;
}

.jcf-select.jcf-select-large .jcf-select-opener {
	width: 54px;
	border-left-color: #726658;
}

.jcf-select.jcf-select-large .jcf-select-opener:after {
	font-size: 26px;
}

.jcf-select.jcf-select-straight {
	-webkit-transform: skew(0);
	-ms-transform: skew(0);
	transform: skew(0);
	border-right: 0;
}

.jcf-select.jcf-select-straight .jcf-select-text {
	-webkit-transform: skew(0);
	-ms-transform: skew(0);
	transform: skew(0);
}

.jcf-select.jcf-select-straight .jcf-select-opener {
	border: 1px solid #726658;
	-webkit-transform: skew(-18deg) translate(5px, 0);
	-ms-transform: skew(-18deg) translate(5px, 0);
	transform: skew(-18deg) translate(5px, 0);
	top: -1px;
	bottom: -1px;
}

.jcf-select select {
	z-index: 1;
	left: 0;
	top: 0;
}

.jcf-select .jcf-select-text {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	display: block;
	font-size: 14px;
	line-height: 27px;
	margin: 0 45px 0 12px;
	-webkit-transform: skew(18deg);
	-ms-transform: skew(18deg);
	transform: skew(18deg);
}

.jcf-select .jcf-select-opener {
	position: absolute;
	text-align: center;
	top: 0;
	bottom: 0;
	right: 0;
	width: 40px;
	background: #c2b59b;
	border-left: 1px solid #000;
}

.jcf-select .jcf-select-opener:after {
	content: "\f107";
	position: absolute;
	left: 60%;
	top: 50%;
	font-family: FontAwesome;
	font-size: 20px;
	color: #000;
	-webkit-transform: skew(18deg) translate(-50%, -50%);
	-ms-transform: skew(18deg) translate(-50%, -50%);
	transform: skew(18deg) translate(-50%, -50%);
}

.jcf-select .jcf-select-drop {
	position: absolute;
	margin-top: 0;
	z-index: 9999;
	top: 100%;
	left: -1px;
	right: -1px;
}

.jcf-select .jcf-drop-flipped {
	bottom: 100%;
	top: auto;
}

body > .jcf-select-drop {
	position: absolute;
	margin: -1px 0 0;
	z-index: 9999;
}

body > .jcf-select-drop.jcf-drop-flipped {
	margin: 1px 0 0;
}

.jcf-select-drop .jcf-select-drop-content {
	border: 1px solid #000;
	border-radius: 0;
	overflow: hidden;
}

.jcf-list-box {
	overflow: hidden;
	display: inline-block;
	border: 1px solid #000;
	min-width: 200px;
	margin: 0 15px;
}

.jcf-list {
	display: inline-block;
	vertical-align: top;
	position: relative;
	background: #fff;
	line-height: 20px;
	font-size: 14px;
	font-family: Geogrotesque, Arial, Helvetica, sans-serif;
	width: 100%;
}

.jcf-list .jcf-list-content {
	vertical-align: top;
	display: inline-block;
	overflow: auto;
	width: 100%;
}

.jcf-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.jcf-list ul li {
	overflow: hidden;
	display: block;
}

.jcf-list .jcf-overflow {
	overflow: auto;
}

.jcf-list .jcf-option {
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	display: block;
	padding: 4px 18px;
	color: #000;
	height: 1%;
}

.jcf-list .jcf-disabled {
	background: #fff !important;
	color: #aaa !important;
}

.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
	background: #c2b59b;
}

.jcf-list .jcf-optgroup-caption {
	white-space: nowrap;
	font-weight: bold;
	display: block;
	padding: 5px 9px;
	cursor: default;
	color: #000;
}

.jcf-list .jcf-optgroup .jcf-option {
	padding-left: 30px;
}

.jcf-disabled {
	background: #ddd !important;
}

/* Slider */

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
}

.slick-track:before,
.slick-track:after {
	content: "";
	display: table;
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

/* Slider */

.slick-loading .slick-list {
	background: #fff url("../images/ajax-loader.gif") center center no-repeat;
}

/* Icons */

@font-face {
	font-family: "slick";
	src: url("../fonts/slick/slick.eot");
	src: url("../fonts/slick/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick/slick.woff") format("woff"), url("../fonts/slick/slick.ttf") format("truetype"), url("../fonts/slick/slick.svg#slick") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* Arrows */

.slick-prev,
.slick-next {
	position: absolute;
	display: block;
	height: 20px;
	width: 20px;
	line-height: 0;
	font-size: 0;
	cursor: pointer;
	background: transparent;
	color: transparent;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	padding: 0;
	border: none;
	outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
	outline: none;
	background: transparent;
	color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
	opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
	opacity: .25;
}

.slick-prev:before,
.slick-next:before {
	font-family: "slick";
	font-size: 20px;
	line-height: 1;
	color: white;
	opacity: .75;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-prev {
	left: -25px;
}

[dir="rtl"] .slick-prev {
	left: auto;
	right: -25px;
}

.slick-prev:before {
	content: "←";
}

[dir="rtl"] .slick-prev:before {
	content: "→";
}

.slick-next {
	right: -25px;
}

[dir="rtl"] .slick-next {
	left: -25px;
	right: auto;
}

.slick-next:before {
	content: "→";
}

[dir="rtl"] .slick-next:before {
	content: "←";
}

/* Dots */

.slick-dotted.slick-slider {
	margin-bottom: 30px;
}

.slick-dots {
	position: absolute;
	bottom: -25px;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%;
}

.slick-dots li {
	position: relative;
	display: inline-block;
	height: 20px;
	width: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.slick-dots li button {
	border: 0;
	background: transparent;
	display: block;
	height: 20px;
	width: 20px;
	outline: none;
	line-height: 0;
	font-size: 0;
	color: transparent;
	padding: 5px;
	cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
	outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
	opacity: 1;
}

.slick-dots li button:before {
	position: absolute;
	top: 0;
	left: 0;
	content: "•";
	width: 20px;
	height: 20px;
	font-family: "slick";
	font-size: 6px;
	line-height: 20px;
	text-align: center;
	color: black;
	opacity: .25;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
	color: black;
	opacity: .75;
}

.gallery-item a.item {
	background-size: cover;
	background-position: center;
}

.common-page #main {
	padding-bottom: 30px;
}

.common-page article.article {
	font-size: 16px;
	line-height: 25px;
	font-weight: 300;
	font-style: italic;
	color: #231f20;
}

.common-page article.article p {
	margin-bottom: 30px;
}

.common-page .breadcrumb-area {
	padding-bottom: 70px;
}

.common-page .sidebar-box {
	background: #c2b59b;
	padding: 20px;
	font-size: 15px;
	line-height: 25px;
	color: #231f20;
}

.common-page .sidebar-box address {
	word-break: break-all;
	margin-bottom: 25px;
}

.common-page .sidebar-box address:last-child {
	margin-bottom: 0;
}

.common-page .sidebar-box + .sidebar-box {
	margin-top: 15px;
}

.common-page .sidebar-box h2 {
	font-size: 16px;
	line-height: 25px;
	font-weight: 500;
	font-style: italic;
	text-transform: uppercase;
	margin: 0 0 30px;
}

.common-page .sidebar-box .icon-box {
	margin-bottom: 15px;
	height: 142px;
	width: 154px;
	border: 1px solid #c2b59b;
	white-space: nowrap;
	box-shadow: 7px 7px 15px -1px rgba(35, 31, 32, .75);
	background: #fff;
	text-align: center;
	position: relative;
}

.common-page .sidebar-box .icon-box:after {
	width: 1px;
	height: 100%;
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 -5px;
	overflow: hidden;
}

.common-page .sidebar-box .icon-box span.text {
	position: absolute;
	bottom: -1px;
	left: 0;
	right: -1px;
	font-size: 24px;
	line-height: 28px;
	font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
	font-style: normal;
	color: #fff;
	background: #ed1c24;
	padding: 9px 5px 1px;
	text-align: center;
	text-shadow: 7px 7px 5px rgba(35, 31, 32, .75);
	box-shadow: 7px 7px 15px -1px rgba(35, 31, 32, .75);
}

.common-page .sidebar-box .icon-box img {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	width : 100%;
	height: 100%;

}

.common-page .sidebar-box .icon-box.width-auto {
	overflow: hidden;
}

.common-page .sidebar-box .icon-box.width-auto img {
	max-width: none;
	width: 100%;
	height: auto;
}

.common-page .sidebar-box .icon-box:first-child {
	margin-top: -66px;
}

.common-page .sidebar-box span.title {
	font-size: 16px;
	line-height: 25px;
	text-transform: uppercase;
	font-weight: 500;
	font-style: italic;
	color: #231f20;
	display: block;
	margin-bottom: 30px;
}

.common-page .sidebar-box ul.list-items li {
	font-size: 16px;
	line-height: 25px;
	text-transform: uppercase;
	font-weight: 500;
	font-style: italic;
	color: #231f20;
}

.common-page .sidebar-box ul.list-items li:before {
	content: "-";
	margin-right: 5px;
	margin-left: 3px;
}

.common-page .sidebar-box ul.list-items li strong {
	font-weight: 500;
}

.common-page .sidebar-box ul.list-items li span {
	font-weight: 300;
}

.common-page .article-h3 {
	margin: 0;
	font-size: 16px;
	line-height: 25px;
	text-transform: uppercase;
	font-weight: 500;
	font-style: italic;
}

.common-page .buttons-list {
	padding: 36px 0;
	text-align: center;
}

.common-page .buttons-list > a {
	margin: 4px;
}

.common-page .buttons-list > a:focus,
.common-page .buttons-list > a:active {
	color: white;
	text-decoration: none;
}

.common-page .top-normal-banner {

	padding: 5px;
	position: relative;
}

.common-page .top-normal-banner > img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

.common-page .top-normal-banner .icon-box {
	margin-bottom: 15px;
	height: 142px;
	width: 154px;
	white-space: nowrap;
	box-shadow: 7px 7px 15px -1px rgba(35, 31, 32, .75);
	background: #fff;
	border: 1px solid #c2b59b;
	position: absolute;
	right: 46px;
	top: -41px;
	text-align: center;
}

.common-page .top-normal-banner .icon-box:after {
	width: 1px;
	height: 100%;
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 -5px;
	overflow: hidden;
}

.common-page .top-normal-banner .icon-box img {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	max-width: 100%;
	height: auto;
}

.common-page .image-gallery-holder + .image-gallery-holder {
	margin-top: 30px;
}

.common-page .image-gallery-holder h2.gallery-title {
	margin: 0;
	font-size: 16px;
	line-height: 25px;
	font-weight: 500;
	font-style: italic;
	color: #231f20;
}

.common-page .image-gallery-holder .image-gallery {
	display: block;
	position: relative;
}

.common-page .image-gallery-holder .image-gallery .slick-prev,
.common-page .image-gallery-holder .image-gallery .slick-next {
	position: absolute;
	right: 10px;
	top: -3px;
	color: #c2b59b;
	text-decoration: none;
	font-size: 18px;
}

.common-page .image-gallery-holder .image-gallery .slick-prev:hover,
.common-page .image-gallery-holder .image-gallery .slick-next:hover {
	color: #a5926b;
}

.common-page .image-gallery-holder .image-gallery .slick-prev:before,
.common-page .image-gallery-holder .image-gallery .slick-next:before {
	display: none;
}

.common-page .image-gallery-holder .image-gallery .slick-prev {
	right: 28px;
	left: auto;
}

.common-page .image-gallery-holder .image-gallery .gallery-item {
	padding: 0;
	margin: 15px 15px 30px;
}

.common-page .featured-form {
	background: #c2b59b;
	box-shadow: 7px 7px 15px -1px rgba(35, 31, 32, .75);
	padding: 15px;
}

.common-page .featured-form .select-inputs-wrap {
	max-width: 240px;
}

.common-page .featured-form .select-inputs-wrap .select-input {
	display: block;
	width: 100%;
}

.common-page .featured-form .select-inputs-wrap .select-input + .select-input {
	margin-top: 25px;
}

.common-page .featured-form button[type="submit"] {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 23px;
	padding: 5px 20px;
	font-style: italic;
	border: 1px solid #726658;
	color: #231f20;
	background: #c2b59b;
	text-transform: uppercase;
	-webkit-transform: skew(-18deg);
	-ms-transform: skew(-18deg);
	transform: skew(-18deg);
	margin: 0 0 10px;
	font-weight: 500;
}

.common-page .featured-form button[type="submit"] span {
	display: block;
	-webkit-transform: skew(18deg);
	-ms-transform: skew(18deg);
	transform: skew(18deg);
}

.common-page .featured-form button[type="submit"]:hover {
	background: #af9e7b;
}

.common-page .featured-form label {
	display: inline-block;
	vertical-align: bottom;
	font-size: 16px;
	line-height: 25px;
	font-style: italic;
	color: #231f20;
	font-weight: normal;
	margin: 0 15px 10px 0;
}

.common-page .featured-form input[type="text"] {
	display: inline-block;
	vertical-align: bottom;
	font-size: 14px;
	line-height: 20px;
	height: 32px;
	border: 1px solid #594a42;
	border-radius: 0;
	margin: 0 15px 10px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	font-style: italic;
	padding: 5px;
	width: 77px;
}

.common-page .featured-form input.size2 {
	width: 135px;
}

.common-page .tab-content {
	padding-top: 30px;
}

.map-block {
	padding: 8px;
	border: 1px solid #c2b59b;
}

.map-block img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

.banner-carousel {
	position: relative;
}

.banner-carousel .mask {
	overflow: hidden;
}

.banner-carousel .slideset {
	width: 9999px;
	float: left;
}

.banner-carousel .slide {
	float: left;
}

.banner-carousel img {
	width: 100%;
	height: 325px;
	vertical-align: top;
}

.banner-carousel .pagination {
	position: absolute;
	left: 10px;
	bottom: 10px;
}

.banner-carousel .pagination ul {
	margin: 0 -2px;
}

.banner-carousel .pagination ul li {
	display: inline-block;
	vertical-align: top;
	margin: 2px;
}

.banner-carousel .pagination ul li.active a {
	background: #231f20;
}

.banner-carousel .pagination ul a {
	display: block;
	width: 15px;
	height: 16px;
	border: 1px solid #fff;
	background: #fff;
	font-size: 0;
	line-height: 0;
	-webkit-transform: skew(-18deg);
	-ms-transform: skew(-18deg);
	transform: skew(-18deg);
	text-decoration: none;
}

.banner-carousel .pagination ul a:hover {
	text-decoration: none;
	background: #231f20;
}

.breadcrumb-area {
	padding: 22px 0 10px;
}

.find-retailers .select-input {
	width: 230px;
	display: block;
}

.find-retailers .select-input + .select-input {
	margin-top: 15px;
}

.find-retailers .select-input.inline {
	display: inline-block;
	vertical-align: top;
}

.find-retailers .select-input.button-wrap {
	width: auto;
}

.find-retailers button[type="submit"] {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 23px;
	padding: 5px 20px;
	font-style: italic;
	border: 1px solid #726658;
	color: #231f20;
	background: #c2b59b;
	text-transform: uppercase;
	-webkit-transform: skew(-18deg);
	-ms-transform: skew(-18deg);
	transform: skew(-18deg);
	font-weight: 500;
}

.find-retailers button[type="submit"] span {
	display: block;
	-webkit-transform: skew(18deg);
	-ms-transform: skew(18deg);
	transform: skew(18deg);
}

.find-retailers button[type="submit"]:hover {
	background: #af9e7b;
}

.find-retailers .select-inputs-wrap {
	margin: 0 -15px;
}

.find-retailers .select-inputs-wrap > * {
	padding: 0 15px;
}

.find-retailers .input-field-wrapper .input-field {
	position: relative;
	-webkit-transform: skew(-18deg);
	-ms-transform: skew(-18deg);
	transform: skew(-18deg);
	border: 1px solid #726658;
	background: #fff;
	margin-bottom: 25px;
}

.find-retailers .input-field-wrapper .input-field input {
	outline: none;
	-webkit-transform: skew(18deg);
	-ms-transform: skew(18deg);
	transform: skew(18deg);
	border: 0;
	margin: 0;
	display: block;
	width: 100%;
	height: 33px;
	padding: 5px 65px 5px 15px;
	font-size: 16px;
	line-height: 23px;
	font-weight: normal;
	font-style: italic;
	color: #231f20;
	background: none;
}

.find-retailers .input-field-wrapper .input-field input::-webkit-input-placeholder {
	color: #231f20;
}

.find-retailers .input-field-wrapper .input-field input::-moz-placeholder {
	opacity: 1;
	color: #231f20;
}

.find-retailers .input-field-wrapper .input-field input:-moz-placeholder {
	color: #231f20;
}

.find-retailers .input-field-wrapper .input-field input:-ms-input-placeholder {
	color: #231f20;
}

.find-retailers .input-field-wrapper .input-field input.placeholder {
	color: #231f20;
}

.find-retailers .input-field-wrapper .input-field span.icon-hold {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 50px;
	background: #c2b59b;
	border-left: 1px solid #726658;
	display: none;
}

.find-retailers .input-field-wrapper .input-field span.icon-hold:before {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%) skew(18deg);
	-ms-transform: translate(-50%, -50%) skew(18deg);
	transform: translate(-50%, -50%) skew(18deg);
	content: "";
	background-repeat: no-repeat;
}

.find-retailers .input-field-wrapper .input-field span.icon-hold.icon-bin:before {
	background-image: url(../images/icon-bin.png);
	width: 24px;
	height: 20px;
}

.find-retailers .input-field-wrapper .input-field span.icon-hold.icon-run:before {
	background-image: url(../images/icon-run.png);
	width: 33px;
	height: 30px;
}

.find-retailers .input-field-wrapper .input-field span.icon-hold.icon-tag:before {
	background-image: url(../images/icon-tag.png);
	width: 26px;
	height: 31px;
}

.find-retailers .input-field-wrapper .input-field span.icon-hold.icon-upload:before {
	background-image: url(../images/icon-upload.png);
	width: 21px;
	height: 29px;
}

.find-retailers .button-submit-box {
	padding-right: 8px;
	padding-top: 13px;
}

.find-retailers .single-line {
	margin-bottom: 5px;
}

.find-retailers .single-line label {
	font-size: 16px;
	line-height: 25px;
	font-weight: 500;
	font-style: italic;
	color: #231f20;
	text-transform: uppercase;
	width: 135px;
	margin: 0;
	padding-top: 11px;
}

.find-retailers .single-line .input-box-wrap input,
.find-retailers .single-line .input-box-wrap textarea {
	display: block;
	outline: none;
	width: 100%;
	height: 35px;
	border: 1px solid #726658;
	font-size: 16px;
	line-height: 23px;
	font-weight: normal;
	font-style: normal;
	padding: 5px 12px;
	text-align: left;
}

.find-retailers .single-line .input-box-wrap textarea {
	resize: none;
	min-height: 57px;
}

h1.sidebar-title {
	font-size: 22px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: normal;
	font-style: normal;
	margin: 0 0 5px;
	color: #231f20;
}

.sidebar-nav {
	padding: 12px 0;
	text-transform: uppercase;
}

.sidebar-nav.text-capitalise {
	text-transform: none;
}

.sidebar-nav li {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 4px;
	font-weight: 500;
	font-style: italic;
}

.sidebar-nav li a {
	color: #231f20;
	text-decoration: none;
}

.sidebar-nav li a:hover {
	color: #ed1c24;
	text-decoration: none;
}

ul.tab-list {
	border-bottom: 1px solid #231f20;
	letter-spacing: -4px;
	margin: 0 -3px;
	padding: 0 3px;
}

ul.tab-list li {
	display: inline-block;
	vertical-align: top;
	margin-right: 6px;
	letter-spacing: 0;
}

ul.tab-list li a {
	background: #c2b59b;
	padding: 3px 10px;
	border: 1px solid #231f20;
	border-bottom: 0;
	display: block;
	color: #231f20;
}

ul.tab-list li a:hover {
	text-decoration: none;
	background: #af9e7b;
}

ul.tab-list li a:active,
ul.tab-list li a:focus {
	text-decoration: none;
	color: #231f20;
}

.button-green {
	display: inline-block;
	vertical-align: top;
	background: #c2b59b;
	color: #fff;
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;
	font-style: italic;
	border: 0;
	padding: 3px 5px;
	-webkit-transform: skew(-18deg);
	-ms-transform: skew(-18deg);
	transform: skew(-18deg);
	text-decoration: none;
}

.button-green span {
	-webkit-transform: skew(18deg);
	-ms-transform: skew(18deg);
	transform: skew(18deg);
	display: block;
}

.button-green:hover {
	color: #fff;
	text-decoration: none;
	background: #af9e7b;
}

.button-plain {
	display: inline-block;
	vertical-align: top;
	background: #fff;
	border: 1px solid #726658;
	color: #231f20;
	font-size: 16px;
	line-height: 23px;
	font-weight: 400;
	font-style: italic;
	padding: 5px 15px;
	text-decoration: none;
}

.button-plain.large {
	padding: 7px 20px;
}

.button-plain:hover {
	text-decoration: none;
	background: #e6e6e6;
}

textarea {
	resize: none;
}

.default-accordion li {
	border-bottom: 1px solid #231f20;
}

.default-accordion li.active {
	border-bottom: 0;
}

.default-accordion li + li {
	margin-top: 18px;
}

.default-accordion a.opener {
	display: inline-block;
	vertical-align: top;
	border: 1px solid #231f20;
	border-bottom: 0;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 25px;
	padding: 5px 12px;
	text-decoration: none;
	background: #c2b59b;
	color: #231f20;
}

.default-accordion a.opener:hover {
	text-decoration: none;
	background: #af9e7b;
}

.default-accordion .slide-box {
	padding: 35px 0;
	border-top: 1px solid #231f20;
	font-size: 16px;
	line-height: 25px;
	color: #231f20;
}

.default-accordion .slide-box p {
	margin: 0;
}

.default-accordion .slide-box p + p {
	margin-top: 15px;
}

.padding-top-5 {
	padding-top: 5px !important;
}

.padding-top-10 {
	padding-top: 10px !important;
}

.padding-top-15 {
	padding-top: 15px !important;
}

.padding-top-20 {
	padding-top: 20px !important;
}

.padding-top-30 {
	padding-top: 30px !important;
}

.padding-bottom-5 {
	padding-bottom: 5px !important;
}

.padding-bottom-10 {
	padding-bottom: 10px !important;
}

.padding-bottom-15 {
	padding-bottom: 15px !important;
}

.padding-bottom-20 {
	padding-bottom: 20px !important;
}

.padding-bottom-30 {
	padding-bottom: 30px !important;
}

.margin-bottom-5 {
	margin-bottom: 5px !important;
}

.margin-bottom-10 {
	margin-bottom: 10px !important;
}

.margin-bottom-15 {
	margin-bottom: 15px !important;
}

.margin-bottom-20 {
	margin-bottom: 20px !important;
}

.margin-bottom-30 {
	margin-bottom: 30px !important;
}

ol.breadcrumb {
	padding: 0;
	margin: 0;
}

ol.breadcrumb > li {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
}

ol.breadcrumb > li + li:before {
	font-size: 120%;
}

ol.breadcrumb > li a {
	color: #231f20;
}

#header .top-bar {
	padding: 13px 0;
}

#header .top-bar .navbar-toggle {
	border: 1px solid #c2b59b;
	border-radius: 4px;
	padding: 4px 8px 2px;
	margin: -2px 0 0;
}

#header .lang-selector {
	float: right;
}

#header .lang-selector li {
	float: left;
	padding: 4px;
}

#header .lang-selector a {
	display: block;
	-webkit-transform: skew(-18deg);
	-ms-transform: skew(-18deg);
	transform: skew(-18deg);
	padding: 0 8px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	font-style: italic;
	text-decoration: none;
	color: #fff;
	background: #c2b59b;
	text-transform: uppercase;
	text-decoration: none;
}

#header .lang-selector a:hover {
	text-decoration: none;
	background: #af9e7b;
}

#header .lang-selector a span {
	display: block;
	-webkit-transform: skew(18deg);
	-ms-transform: skew(18deg);
	transform: skew(18deg);
}

#header .social-networks {
	overflow: hidden;
}

#header .social-networks li {
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	padding: 5px 10px;
}

#header .social-networks a {
	color: #ed1c24;
	text-decoration: none;
}

#header .social-networks a:hover {
	text-decoration: none;
	color: #c61017;
}

#header .middle-bar {
	display: table;
	width: 100%;
	table-layout: fixed;
	margin-bottom: 5px;
}

#header .middle-bar > * {
	display: table-cell;
	vertical-align: bottom;
}

#header .middle-bar .logo-block {
	width: 100px;
}

#header .middle-bar .logo-block img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

#header .middle-bar .search-box {
	padding-left: 15px;
}

#header .search-form {
	max-width: 460px;
}

#header .search-form .form-block {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	border: 1px solid #c2b59b;
	-webkit-transform: skew(-18deg);
	-ms-transform: skew(-18deg);
	transform: skew(-18deg);
}

#header .search-form .input-item {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

#header .search-form input[type="text"] {
	display: block;
	width: 100%;
	height: 33px;
	margin: 0;
	padding: 6px 15px;
	border: 0;
	font-size: 14px;
	line-height: 21px;
	color: #c2b59b;
	-webkit-transform: skew(18deg);
	-ms-transform: skew(18deg);
	transform: skew(18deg);
	background: none;
	outline: none;
}

#header .search-form .button-item {
	width: 45px;
}

#header .search-form .button-item button {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	background: #c2b59b;
	height: 33px;
	font-size: 0;
	line-height: 0;
	padding: 2px;
	border: 0;
	border-left: 1px solid #c2b59b;
}

#header .search-form .button-item button:hover {
	background: #af9e7b;
}

#header .search-form .button-item button span {
	display: block;
	height: 29px;
	width: 29px;
	margin: 0 auto;
	background: url(../images/search.png) no-repeat;
	-webkit-transform: skew(18deg);
	-ms-transform: skew(18deg);
	transform: skew(18deg);
}

.navbar {
	border: 0;
	margin: 0 0 2px;
	background: none;
	min-height: 0;
}

.navbar .navbar-collapse {
	box-shadow: none;
	border: 0;
}

.navbar .main-navbar {
	letter-spacing: -4px;
	text-align: center;
	padding-bottom: 5px;
}

.navbar .main-navbar li {
	padding: 5px 2px;
	font-size: 14px;
	font-weight: 600;
	font-style: italic;
	line-height: 24px;
	letter-spacing: 0;
	display: inline-block;
	vertical-align: top;
}

.navbar .main-navbar a {
	display: inline-block;
	vertical-align: top;
	padding: 2px 8px;
	color: #594a42;
	text-decoration: none;
	-webkit-transform: skew(-18deg);
	-ms-transform: skew(-18deg);
	transform: skew(-18deg);
	background: #c2b59b;
	text-transform: uppercase;
}

.navbar .main-navbar a:hover {
	text-decoration: none;
	background: #af9e7b;
}

.navbar .main-navbar a span {
	display: block;
	-webkit-transform: skew(18deg);
	-ms-transform: skew(18deg);
	transform: skew(18deg);
}

.navbar .navbar-collapse {
	position: relative;
}

.navbar .login-area .login {
	display: block;
	width: 120px;
	background: #c2b59b;
	-webkit-transform: skew(-18deg);
	-ms-transform: skew(-18deg);
	transform: skew(-18deg);
	text-decoration: none;
	margin: 0 auto;
}

.navbar .login-area .login:hover {
	background: #af9e7b;
}

.navbar .login-area .login span {
	display: block;
	-webkit-transform: skew(18deg);
	-ms-transform: skew(18deg);
	transform: skew(18deg);
	font-size: 25px;
	line-height: 35px;
	color: #fff;
	text-align: right;
	padding: 7px 12px 7px 40px;
	text-transform: uppercase;
	font-style: italic;
}

.navbar .login-area .login span:before {
	position: absolute;
	left: 2px;
	bottom: 0;
	width: 45px;
	height: 47px;
	content: "";
	background: url(../images/login.png) no-repeat;
}

.navbar .login-area .login span b {
	font-weight: 500;
}

#footer {
	background: #ed1c24;
	color: #fff;
	position: relative;
}

#footer:before {
	position: absolute;
	left: 50%;
	top: 50%;
	content: "";
	width: 888px;
	height: 150px;
	margin-left: -444px;
	margin-top: -75px;
	background: url(../images/footer-logo.png) no-repeat;
}

#footer .footer-holder {
	position: relative;
}

#footer .footer-holder .copyright {
	padding: 15px 0;
}

#footer .footer-nav {
	padding: 30px 0 6px;
	width: 40%;
}

#footer .footer-nav li:before {
	content: "";
	margin-right: 11px;
	width: 6px;
	height: 30px;
	background: #fff;
	display: inline-block;
	vertical-align: top;
	-webkit-transform: skew(-18deg);
	-ms-transform: skew(-18deg);
	transform: skew(-18deg);
}

#footer .footer-nav li + li {
	margin-top: 11px;
}

#footer .footer-nav li a {
	color: #fff;
	text-transform: uppercase;
}

#footer p {
	margin: 0;
}

.bultenler #main {
	padding-bottom: 30px;
}

.image-gallery {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.image-gallery .gallery-item {
	padding: 10px 15px;
}

.image-gallery .item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.image-gallery .item:before {
	position: absolute;
	content: "";
	background: rgba(237, 28, 36, .75);
	-webkit-transition: opacity .3s ease-in;
	transition: opacity .3s ease-in;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.image-gallery .item:hover:before {
	opacity: 1;
}

.image-gallery .item:hover .text {
	opacity: 1;
}

.image-gallery .item:hover .head {
	opacity: 1;
}

.image-gallery img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

.image-gallery .text {
	position: absolute;
	left: 10px;
	right: 10px;
	text-align: left;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #fff;
	opacity: 0;
	-webkit-transition: opacity .3s ease-in;
	transition: opacity .3s ease-in;
	z-index: 1;
	font-size: 14px;
	line-height: 18px;
	font-style: italic;
	text-transform: uppercase;
}

.image-gallery .head {
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	font-style: italic;
	font-weight: 300;
	left: 10px;
	right: 10px;
	top: 6px;
	text-transform: uppercase;
	position: absolute;
	-webkit-transition: opacity .3s ease-in;
	transition: opacity .3s ease-in;
	z-index: 1;
	opacity: 0;
}

.image-gallery.five-a-row .gallery-item {
	width: 100%;
}

.image-gallery.gallery-type-2 .gallery-item,
.image-gallery.gallery-type-3 .gallery-item,
.image-gallery.gallery-type-4 .gallery-item,
.image-gallery.gallery-type-5 .gallery-item,
.image-gallery.gallery-type-6 .gallery-item {
	width: 100%;
}

.image-gallery.gallery-type-2 .text,
.image-gallery.gallery-type-3 .text,
.image-gallery.gallery-type-4 .text,
.image-gallery.gallery-type-5 .text,
.image-gallery.gallery-type-6 .text {
	top: auto;
	bottom: 14px;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	font-size: 12px;
	line-height: 19px;
	font-weight: 500;
}

.image-gallery.gallery-type-5 {
	margin-bottom: 0;
	padding-bottom: 0 !important;
}

.image-gallery.gallery-type-6 .gallery-item {
	width: 100%;
}

.image-gallery.gallery-type-6 .text {
	font-size: 18px;
	line-height: 15px;
}

.image-gallery img {
	width: 100%;
	height: auto;
	max-width: none;
}

.search-filter-area.padding-top {
	padding-top: 14px;
}

.search-filter-area .select-inputs-wrap {
	letter-spacing: -4px;
	margin: 0 -12px;
	text-align: center;
}

.search-filter-area .select-inputs-wrap .select-input {
	letter-spacing: 0;
	display: inline-block;
	vertical-align: top;
	margin: 6px 12px;
}

.search-filter-area .select-inputs-wrap .select-input.size1 {
	width: 128px;
}

.search-filter-area .select-inputs-wrap .select-input.size2 {
	width: 100px;
}

.search-filter-area .select-inputs-wrap.text-right {
	text-align: right;
}

.search-result-info {
	padding-top: 15px;
}

.search-result-info .results-info {
	text-align: right;
	font-size: 16px;
	line-height: 20px;
	font-weight: 100;
	font-style: italic;
	color: #231f20;
}

.search-result-info .results-info p {
	margin: 0;
}

.danisman-listeleme #main {
	padding-bottom: 30px;
}

.danishman-sayfasi .linked-list {
	font-size: 0;
	line-height: 0;
	letter-spacing: -4px;
	margin: 0 5px;
}

.danishman-sayfasi .linked-list li {
	letter-spacing: -.04em;
	font-size: 16px;
	line-height: 25px;
	font-weight: 300;
	font-style: italic;
	color: #231f20;
	display: inline-block;
	vertical-align: top;
	-webkit-transform: translate(-4px, 0);
	-ms-transform: translate(-4px, 0);
	transform: translate(-4px, 0);
	width: 100%;
	padding: 0 5px;
}

.danishman-sayfasi .linked-list li:before {
	content: "-";
	margin-right: 5px;
}

.firma-sayfasi #main {
	padding-bottom: 30px;
}

.firma-sayfasi .breadcrumb-area {
	padding-bottom: 50px;
}

.firma-sayfasi .simple-form .form-group {
	margin-bottom: 0;
}

.firma-sayfasi .simple-form .form-group + .form-group {
	margin-top: 35px;
}

.firma-sayfasi .simple-form .form-group.size1 {
	width: 180px;
}

.firma-sayfasi .simple-form .form-group.size2 {
	width: 150px;
}

.firma-sayfasi .simple-form .form-group.size3 {
	width: 264px;
}

.firma-sayfasi .simple-form input[type="text"],
.firma-sayfasi .simple-form textarea {
	border: 1px solid #726658;
	height: 35px;
	font-size: 14px;
	line-height: 23px;
	padding: 5px 15px;
	outline: none;
}

.firma-sayfasi .simple-form label {
	display: inline-block;
	font-size: 16px;
	line-height: 25px;
	font-weight: 500;
	font-style: italic;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.firma-sayfasi .simple-form textarea {
	min-height: 91px;
}

.haber-detay-sayfasi #main {
	padding-bottom: 30px;
}

.haber-detay-sayfasi article.article {
	font-size: 19px;
	line-height: 33px;
}

.haber-detay-sayfasi .main-row {
	margin-bottom: 30px;
}

.haber-detay-sayfasi .main-row .banner-img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

.haber-detay-sayfasi .sidebar-box {
	box-shadow: 7px 7px 15px -1px rgba(35, 31, 32, .75);
}

.ilk-sayfa article.article {
	font-size: 25px;
	line-height: 40px;
	font-weight: normal;
	font-style: italic;
	color: #231f20;
}

.ilk-sayfa article.article strong {
	font-weight: bold;
}

.ilk-sayfa article.article span.red {
	color: #ed1c24;
}

.ilk-sayfa article.article span.green {
	color: #c2b59b;
}

.ilk-sayfa .share-block {
	padding: 25px 0 45px;
}

.ilk-sayfa .share-block h2 {
	text-align: center;
	font-size: 55px;
	line-height: 60px;
	color: #ed1c24;
	font-weight: 600;
	font-style: italic;
	margin: 0 0 5px;
}

.ilk-sayfa .share-block h3 {
	text-align: center;
	font-size: 55px;
	line-height: 60px;
	color: #231f20;
	font-weight: 300;
	font-style: italic;
	margin: 0 0 20px;
	text-transform: uppercase;
}

.ilk-sayfa .share-block h3 strong {
	font-weight: 600;
}

.ilk-sayfa .share-block .row {
	margin: 0 -13px;
	font-size: 0;
	line-height: 0;
	letter-spacing: -4px;
}

.ilk-sayfa .share-block .row > * {
	display: inline-block;
	vertical-align: top;
	letter-spacing: 0;
	font-size: 14px;
	line-height: 25px;
	padding: 13px;
	float: none;
}

.ilk-sayfa .share-block .img-block {
	display: block;
	width: 100%;
}

.ilk-sayfa .share-block .img-block img {
	width: 100%;
	height: auto;
	vertical-align: top;
	max-width: none;
}

.showcase-block {
	padding-top: 15px;
	padding-bottom: 30px;
}

.showcase-block.green {
	background: #c2b59b;
}

.showcase-block.green h1.showcase-title {
	color: #fff;
}

.showcase-block.bordered {
	border-bottom: 1px solid #6d6e71;
}

.showcase-block h1.showcase-title {
	display: block;

	line-height: 60px;
	margin: 0;
	font-weight: 600;
	font-style: italic;
	color: #c2b59b;
	text-transform: uppercase;
	text-align: center;
}

.showcase-block h1.showcase-title.red {
	color: #ed1c24;
}

.showcase-block .row {
	margin: 0 -10px;
	font-size: 0;
	line-height: 0;
	letter-spacing: -4px;
}

.showcase-block .row > * {
	display: inline-block;
	vertical-align: top;
	letter-spacing: 0;
	font-size: 14px;
	line-height: 25px;
	padding: 18px 10px;
	float: none;
}

.showcase-block .row > *.wide {
	width: 100% !important;
}

.showcase-block .overlay {
	position: absolute;
	left: -74px;
	top: 0;
	bottom: 0;
	width: 300px;
	-webkit-transform: skew(-18deg);
	-ms-transform: skew(-18deg);
	transform: skew(-18deg);
	background: rgba(237, 28, 36, .75);
	color: #fff;
	padding: 15px 15px 15px 35px;
}

.showcase-block .overlay .inner {
	-webkit-transform: skew(18deg);
	-ms-transform: skew(18deg);
	transform: skew(18deg);
	height: 100%;
	position: relative;
	width: 100%;
	left: 55px;
}

.showcase-block .overlay .title {
	font-size: 26px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 300;
	font-style: italic;
	text-shadow: 7px 7px 5px rgba(35, 31, 32, .75);
}

.showcase-block .overlay .text {
	bottom: 0;
	left: 0;
	position: absolute;
	font-size: 22px;
	line-height: 27px;
	font-weight: 700;
	font-style: italic;
	text-shadow: 7px 7px 5px rgba(35, 31, 32, .75);
}

.showcase-block .img-block {
	position: relative;
	display: block;
	width: 100%;
	text-decoration: none;
	overflow: hidden;
}

.showcase-block .img-block .overlay {
	opacity: 0;
	visibility: visible;
	-webkit-transition: opacity .3s ease-in;
	transition: opacity .3s ease-in;
}

.showcase-block .img-block:hover .overlay {
	opacity: 1;
	visibility: visible;
}

.showcase-block.alternate .row {
	margin: 0 -15px;
}

.showcase-block.alternate .row > * {
	padding: 18px 15px;
}

.showcase-block img {
	width: 100%;
	height: 100%;
	vertical-align: top;
	max-width: none;
}

.showcase-block .partners-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 -10px;
	padding: 20px 0;
}

.showcase-block .partners-list li {
	padding: 10px;
}

.showcase-block .partners-list img {
	height: auto;
	max-width: 100%;
	width: auto;
}

.showcase-block .brands-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	margin-top: 30px;
	overflow: hidden;
}

.showcase-block .brands-list li {
	width: 50%;
	text-align: center;
	min-height: 90px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	padding: 10px;
}

.showcase-block .brands-list li:before {
	position: absolute;
	left: -999px;
	right: -999px;
	top: 0;
	height: 1px;
	background: #6d6e71;
	content: "";
}

.showcase-block .brands-list li:after {
	content: "";
	position: absolute;
	left: 0;
	top: -999px;
	bottom: -999px;
	width: 1px;
	background: #6d6e71;
}

.showcase-block .brands-list img {
	width: auto;
	max-width: 100%;
	height: auto;
}

.mimar-sayfasi .top-normal-banner {
	box-shadow: 7px 7px 15px -1px rgba(35, 31, 32, .75);
	padding: 0;
	border: 0;
}

.mimar-sayfasi .image-gallery-holder + .image-gallery-holder {
	margin-top: 5px;
}

.mimar-sayfasi .image-gallery-holder h2.gallery-title {
	padding-bottom: 15px;
}

.mimar-sayfasi .image-gallery .item {
	margin-bottom: 18px;
}

.mimar-sayfasi .image-gallery textarea.form-control {
	border: 1px solid #c2b59b;
	font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	text-transform: uppercase;
	color: #c2b59b;
	padding: 10px;
	outline: none;
	border-radius: 0;
}

.mimari-ofis-sayfasi .image-gallery-holder h2.gallery-title {
	padding-bottom: 15px;
}

.proje-listeleme .breadcrumb-area {
	padding-top: 35px;
	padding-bottom: 10px;
}

.proje-listeleme .search-filter-area {
	padding-bottom: 10px;
}

.proje-listeleme .search-filter-area .select-inputs-wrap .select-input {
	margin: 5px 8px;
}

.proje-listeleme .search-filter-area .select-inputs-wrap .select-input.size1 {
	width: 140px;
}

.proje-listeleme .main-banner {
	box-shadow: 7px 7px 15px -1px rgba(35, 31, 32, .75);
}

.proje-listeleme .search-result-info {
	padding-bottom: 15px;
}

.proje-sayfasi .breadcrumb-area {
	padding-top: 36px;
}

.proje-sayfasi h1.top-title {
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	font-style: italic;
	font-weight: normal;
	text-align: right;
	margin: 0 0 5px;
	color: #231f20;
}

.proje-sayfasi h2.article-title {
	border-bottom: 1px solid #231f20;
	padding: 0 3px;
	margin: 0 -3px 30px;
	font-size: 12px;
	line-height: 16px;
	font-style: normal;
	font-weight: normal;
}

.proje-sayfasi h2.article-title span {
	display: inline-block;
	vertical-align: top;
	background: #c2b59b;
	padding: 3px 10px;
	border: 1px solid #231f20;
	border-bottom: 0;
	margin: 0;
}

.proje-sayfasi .linked-gallery-head {
	border: 1px solid #c2b59b;
	margin-bottom: 25px;
	padding: 10px 50px 0;
	position: relative;
}

.proje-sayfasi .linked-gallery-head .image-item {
	text-align: center;
	outline: none;
	margin-bottom: 15px;
}

.proje-sayfasi .linked-gallery-head .image-item img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;

}

.proje-sayfasi .linked-gallery-head .slick-prev,
.proje-sayfasi .linked-gallery-head .slick-next {
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #c2b59b;
	font-size: 40px;
	line-height: 40px;
	height: auto;
	width: auto;
}

.proje-sayfasi .linked-gallery-head .slick-prev:before,
.proje-sayfasi .linked-gallery-head .slick-next:before {
	display: none;
}

.proje-sayfasi .linked-gallery-head .slick-prev {
	left: 15px;
}

.proje-sayfasi .linked-gallery-head .slick-next {
	right: 15px;
}

.proje-sayfasi .linked-gallery-pager {
	margin-bottom: 15px;
}

.proje-sayfasi .linked-gallery-pager .slick-list {
	padding-bottom: 15px;
}

.proje-sayfasi .linked-gallery-pager .pager-item {
	height: 90px;
	padding: 0 5px;
	outline: none;

	margin: 0 5px;
	text-align: center;
}

.proje-sayfasi .linked-gallery-pager .pager-item img {
	margin-top:0;
	height: 100%;
	width: auto;
	vertical-align: top;
	display: inline-block;
	max-width: 100%;
	box-shadow: 7px 7px 15px -1px rgba(35, 31, 32, .75);
}

.roportaj-sayfasi h2.sidebar-title {
	font-size: 24px;
	line-height: 30px;
	color: #231f20;
	display: block;
	font-weight: 500;
	font-style: italic;
	margin: 0 0 10px;
	text-transform: uppercase;
}

@media (min-width: 480px) {
	.image-gallery.gallery-type-2 .gallery-item,
	.image-gallery.gallery-type-3 .gallery-item,
	.image-gallery.gallery-type-4 .gallery-item,
	.image-gallery.gallery-type-5 .gallery-item,
	.image-gallery.gallery-type-6 .gallery-item {
		width: 50%;
	}

	.image-gallery.gallery-type-6 .gallery-item {
		width: 50%;
	}

	.image-gallery.gallery-type-6 .gallery-item.wide {
		width: 100%;
		-webkit-box-ordinal-group: 0;
		-webkit-order: -1;
		-ms-flex-order: -1;
		order: -1;
	}
}

@media (min-width: 480px) and (max-width: 639px) {
	.ilk-sayfa .share-block .row > * {
		width: 50%;
	}
}

@media (min-width: 520px) {
	.find-retailers .single-line {
		display: table;
		width: 100%;
		table-layout: fixed;
	}

	.find-retailers .single-line > * {
		display: table-cell;
		vertical-align: top;
	}

	.image-gallery.five-a-row .gallery-item {
		width: 50%;
	}
}

@media (min-width: 640px) {
	.image-gallery.gallery-type-2 .gallery-item,
	.image-gallery.gallery-type-3 .gallery-item,
	.image-gallery.gallery-type-4 .gallery-item,
	.image-gallery.gallery-type-5 .gallery-item,
	.image-gallery.gallery-type-6 .gallery-item {
		width: 33.333%;
	}

	.image-gallery.gallery-type-6 .gallery-item {
		width: 33.333%;
	}

	.image-gallery.gallery-type-6 .gallery-item.wide {
		width: 66.666%;
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
	}

	.danishman-sayfasi .linked-list li {
		width: 50%;
	}
}

@media (min-width: 640px) and (max-width: 767px) {
	.ilk-sayfa .share-block .row > * {
		width: 33.333%;
	}

	.showcase-block .row > * {
		width: 50%;
	}

	.showcase-block.alternate .row > * {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.common-page .sidebar-box {
		padding: 15px;
	}

	.common-page .sidebar-box .icon-box:first-child {
		margin-top: -51px;
	}

	.find-retailers .single-line {
		display: block;
	}

	.find-retailers .single-line > * {
		display: block;
	}

	#header .social-networks {
		text-align: right;
		padding-right: 90px;
	}

	#header .middle-bar {
		margin-bottom: 45px;
	}

	#header .middle-bar .logo-block {
		width: 253px;
	}

	.navbar .main-navbar {
		text-align: left;
		margin-left: -15px;
		padding-bottom: 0;
	}

	.navbar .main-navbar li {
		font-size: 14px;
		line-height: 18px;
		padding: 0 2px;
	}

	.navbar .main-navbar a {
		display: block;
	}

	.navbar .login-area {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	#footer .footer-holder {
		display: table;
		width: 100%;
		table-layout: fixed;
	}

	#footer .footer-holder > * {
		display: table-cell;
		vertical-align: bottom;
	}

	#footer .footer-holder .copyright {
		padding: 0 0 15px;
	}

	.image-gallery {
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		margin: 0 -10px;
	}

	.image-gallery .gallery-item {
		padding: 15px 10px;
	}

	.image-gallery.five-a-row .gallery-item {
		width: 33.333%;
	}

	.image-gallery.gallery-type-2 .gallery-item,
	.image-gallery.gallery-type-3 .gallery-item,
	.image-gallery.gallery-type-4 .gallery-item,
	.image-gallery.gallery-type-5 .gallery-item,
	.image-gallery.gallery-type-6 .gallery-item {
		width: 50%;
	}

	.image-gallery.gallery-type-5 .gallery-item {
		width: 100% !important;
	}

	.image-gallery.gallery-type-6 .gallery-item {
		width: 50%;
	}

	.image-gallery.gallery-type-6 .gallery-item.wide {
		width: 100%;
		-webkit-box-ordinal-group: 0;
		-webkit-order: -1;
		-ms-flex-order: -1;
		order: -1;
	}

	.proje-listeleme .search-result-info {
		padding-bottom: 0;
	}

	.proje-sayfasi h1.top-title {
		margin-top: -30px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.showcase-block .brands-list li {
		width: 33.333%;
	}

	.showcase-block .brands-list li:nth-child(1):before,
	.showcase-block .brands-list li:nth-child(2):before,
	.showcase-block .brands-list li:nth-child(3):before {
		display: none;
	}

	.showcase-block .brands-list li:nth-child(3n + 1):after {
		display: none;
	}
}

@media (min-width: 1024px) {
	.common-page #main {
		padding-bottom: 40px;
	}

	.common-page .sidebar-box + .sidebar-box {
		margin-top: 30px;
	}

	.common-page .featured-form .single-line > * {
		display: inline-block;
		vertical-align: bottom;
	}

	#header .middle-bar {
		margin-bottom: 25px;
	}

	#header .middle-bar .search-box {
		padding-left: 30px;
	}

	.navbar .main-navbar li {
		font-size: 14px;
		line-height: 24px;
	}

	.bultenler #main {
		padding-bottom: 40px;
	}

	.image-gallery .gallery-item {
		padding: 20px 10px;
	}

	.image-gallery.five-a-row .gallery-item {
		width: 25%;
	}

	.image-gallery.gallery-type-2 .gallery-item,
	.image-gallery.gallery-type-3 .gallery-item,
	.image-gallery.gallery-type-4 .gallery-item,
	.image-gallery.gallery-type-5 .gallery-item,
	.image-gallery.gallery-type-6 .gallery-item {
		width: 33.333%;
	}

	.image-gallery.gallery-type-4 {
		margin: 0 -20px;
	}

	.image-gallery.gallery-type-4 .gallery-item {
		width: 33.333%;
		padding: 20px;
	}

	.image-gallery.gallery-type-6 .gallery-item {
		width: 33.333%;
		padding: 10px 20px;
	}

	.image-gallery.gallery-type-6 .gallery-item.wide {
		width: 66.666%;
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
	}

	.danisman-listeleme #main {
		padding-bottom: 40px;
	}

	.firma-sayfasi #main {
		padding-bottom: 40px;
	}

	.haber-detay-sayfasi #main {
		padding-bottom: 40px;
	}

	.proje-listeleme .search-filter-area br {
		display: none;
	}

	.proje-sayfasi article.article {
		padding-left: 8px;
	}

	.proje-sayfasi .linked-gallery-head {
		padding: 17px 100px 2px;
	}

	.proje-sayfasi .linked-gallery-head .slick-prev,
	.proje-sayfasi .linked-gallery-head .slick-next {
		font-size: 100px;
	}

	.proje-sayfasi .linked-gallery-pager {
		margin-bottom: 30px;
	}

	.proje-sayfasi .linked-gallery-pager .pager-item {
		margin: 0 10px;
	}
}

@media (min-width: 1024px) and (max-width: 1315px) {
	.showcase-block .brands-list li {
		width: 25%;
	}

	.showcase-block .brands-list li:nth-child(1):before,
	.showcase-block .brands-list li:nth-child(2):before,
	.showcase-block .brands-list li:nth-child(3):before,
	.showcase-block .brands-list li:nth-child(4):before {
		display: none;
	}

	.showcase-block .brands-list li:nth-child(4n + 1):after {
		display: none;
	}
}

@media (min-width: 1316px) {
	.common-page #main {
		padding-bottom: 55px;
	}

	.common-page .sidebar-box {
		padding: 30px;
	}

	.common-page .sidebar-box .icon-box:first-child {
		margin-top: -66px;
	}

	.common-page .featured-form {
		margin-top: 20px;
		padding: 30px 28px;
	}

	.common-page .featured-form label {
		margin-right: 30px;
	}

	.common-page .featured-form input[type="text"] {
		margin-right: 30px;
	}

	.find-retailers .single-line {
		display: table;
		width: 100%;
		table-layout: fixed;
	}

	.find-retailers .single-line > * {
		display: table-cell;
		vertical-align: top;
	}

	#header .middle-bar .search-box {
		padding-left: 50px;
	}

	.navbar .main-navbar {
		text-align: center;
		margin-left: 0;
	}

	.bultenler #main {
		padding-bottom: 55px;
	}

	.image-gallery .gallery-item {
		padding: 25px 10px;
	}

	.image-gallery.five-a-row {
		margin: 0 -25px;
	}

	.image-gallery.five-a-row .gallery-item {
		width: 20%;
		padding-left: 25px;
		padding-right: 25px;
	}

	.image-gallery.gallery-type-2 .gallery-item,
	.image-gallery.gallery-type-3 .gallery-item,
	.image-gallery.gallery-type-4 .gallery-item,
	.image-gallery.gallery-type-5 .gallery-item,
	.image-gallery.gallery-type-6 .gallery-item {
		width: 25%;
	}

	.image-gallery.gallery-type-3 .gallery-item {
		width: 20%;
	}

	.image-gallery.gallery-type-4 {
		margin: 0 -35px;
	}

	.image-gallery.gallery-type-4 .gallery-item {
		padding: 25px 35px;
	}

	.image-gallery.gallery-type-6 {
		margin: 0 -20px;
	}

	.image-gallery.gallery-type-6 .gallery-item {
		width: 25%;
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
	}

	.image-gallery.gallery-type-6 .gallery-item.wide {
		width: 50%;
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
	}

	.danisman-listeleme #main {
		padding-bottom: 55px;
	}

	.danishman-sayfasi .linked-list li {
		width: 25%;
		font-size: 14px;
	}

	.firma-sayfasi #main {
		padding-bottom: 55px;
	}

	.haber-detay-sayfasi #main {
		padding-bottom: 55px;
	}

	.haber-detay-sayfasi .sidebar-box {
		min-height: 326px;
	}

	.showcase-block .brands-list li {
		width: 20%;
	}

	.showcase-block .brands-list li:nth-child(1):before,
	.showcase-block .brands-list li:nth-child(2):before,
	.showcase-block .brands-list li:nth-child(3):before,
	.showcase-block .brands-list li:nth-child(4):before,
	.showcase-block .brands-list li:nth-child(5):before {
		display: none;
	}

	.showcase-block .brands-list li:nth-child(5n + 1):after {
		display: none;
	}

	.proje-listeleme .search-filter-area {
		padding-top: 30px;
	}
}

@media (max-width: 1023px) {
	.common-page .featured-form .single-line .sm-active label {
		min-width: 75px;
	}

	.showcase-block .overlay {
		left: -94px;
		width: 340px;
	}

	.showcase-block .overlay .inner {
		left: 75px;
	}
}

@media (max-width: 767px) {
	.common-page .featured-form .select-inputs-wrap {
		margin-bottom: 20px;
	}

	.showcase-block h1.showcase-title {
		font-size: 40px;
		line-height: 46px;
	}

	.showcase-block .partners-list {
		display: block;
		text-align: center;
	}

	.showcase-block .partners-list li {
		display: inline-block;
		vertical-align: middle;
		max-width: 33%;
	}

	.showcase-block .brands-list li:nth-child(1):before,
	.showcase-block .brands-list li:nth-child(2):before {
		display: none;
	}

	.showcase-block .brands-list li:nth-child(odd):after {
		display: none;
	}
}

@media (max-width: 639px) {
	.showcase-block .overlay {
		width: 230px;
		left: -54px;
	}

	.showcase-block .overlay .inner {
		left: 35px;
	}

	.showcase-block .overlay .title {
		font-size: 22px;
		line-height: 26px;
	}

	.showcase-block .overlay .text {
		font-size: 14px;
		line-height: 20px;
	}
}

@media (max-width: 479px) {
	.common-page .image-gallery-holder .image-gallery.two-row-slider .gallery-item {
		width: 80%;
		margin: 30px auto;
	}

	.image-gallery .gallery-item {
		width: 50%;
	}

	.proje-listeleme .search-filter-area br {
		display: none;
	}
}

@-webkit-keyframes fa-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@keyframes fa-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
.show-popup{
    z-index: 999;
    display: none;
}
.show-popup .overlay{
	z-index:1000;
    width: 200%;
    height: 200%;
    background: rgba(0,0,0,.66);
    position: absolute;
    top: 0;
    left: 0;
}
.show-popup .img-show{
	z-index: 1000;
    width: 600px;
    height: 600px;
    background: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden
}
.img-show span{
	z-index:1000;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
}
.img-show img{
	z-index:1000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
